In [1]:
print("Hello Python")
print("This is Jupyter Notebook")
print("This is the start of Python tutorial")

Hello Python
This is Jupyter Notebook
This is the start of Python tutorial

In [3]:
##This is comments
print("Comments won't be visible")
'''This is a multilinecomment'''

Comments won't be visible

'This is a multiline\ncomment'

In [4]:
3+4

7

In [10]:
# declaring python variables

# integer
x = 10
y = 23
sum = x + y
print(sum)

# char
ch = 'a'
str = "This is a string"
print(ch)
print(str)

# float
dec_num = 2.562
print(dec_num)

# bool
bool_val = True
print(bool_val)

print(dec_num, bool_val)

33
a
This is a string
2.562
True
2.562 True

In [20]:
# type() method
x = 17
y = "IronMan"
z = 95.474
a = True
print(type(x))
print(type(y))
print(type(z))
print(type(a))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

In [19]:
x = 17
y = "IronMan"
z = 95.474
a = True

# we can't concat integers, so give a comma operator instead
print("I am " + y + " and I have travelled",x, "countries")
print("I have", z, "% battery and it is", a)
print("Now I am charged to", z+3.475, "% battery")

# print with the separator
print(x, y, z, a, sep=" ~ ")

I am IronMan and I have travelled 17 countries
I have 95.474 % battery and it is True
Now I am charged to 98.949 % battery
17 ~ IronMan ~ 95.474 ~ True

In [24]:
print('single quote string')

'''Python Datatypes
 1. Numeric 
 i. Integer    ii. Float   iii. Complex Numbers
 2. Dictionary(JS objects)
 3. Boolean
 4. Set ( unordered collection of unique items )
 5. Sequence type
 i. Strings    ii. Lists(arrays)   iii. Tuples((1,2,3,4))
 6. None (NULL)'''

single quote string

'Python Datatypes\n 1. Numeric \n i. Integer    ii. Float   iii. Complex Numbers\n 2. Dictionary(JS objects)\n 3. Boolean\n 4. Set\n 5. Sequence type\n i. Strings    ii. Lists(arrays)   iii. Tuples((1,2,3,4))'

In [26]:
# some in-built functions

# ord() : print ascii values of characters
ch = 'a'
print(ord(ch))

# chr() : print character for the ascii value
ch2 = 65
print(chr(ch2))

97
A